@charset "UTF-8";

/* ********************************************
// --- リセット ---
// ※ブラウザのデフォルトCSSをリセット
// ***************************************** */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 16px;
}
body {
  font-family: Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
header, footer, nav, menu, article, aside, section, details, figcaption, figure{
  display: block;
}
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
}
img {
  vertical-align: bottom;
}
a img {
  border: none;
}
a {
  color: #111111;
  text-decoration: none;
}
strong {
  font-weight: normal;
}
i{
  font-style: normal;
}
p {
  font-size: 14px;
  margin: 0;
}
button {
  border: none;
  background-color: var(--bs-gray-100);
}
