.page-item {
  padding: 0 12px;
  transition: .2s;
  cursor: pointer;
  border-radius: 4px;
}

.pagenation__item--active {
  pointer-events: none;
  color: #f8fafc;
  background-color: #111;
}

.pagenation__arrow--disabled {
  pointer-events: none;
  opacity: .4;
}

.page-item:hover {
  color: #f8fafc;
  background-color: #111;
}

/* @media screen and (max-width: 750px) {
	.page-item:hover {
    color: #111;
    background-color: #f8fafc;
  }
} */
